#content {
	min-height: 430px;
	height: auto !important;
	height: 430px;
}
#modal #modal-content,
#modal2 #modal-content2 {
	height: 450px;
}
.clearfix{
  min-height: 1%;
}

ul#mainmenu > li ul {
	top: 24px;
}
.scroll-content > div {
	position: static;
}
