.page {
	min-height: 430px;
	height: auto !important;
	height: 430px;
}
#modal #modal-content,
#modal2 #modal-content2 {
	height: 450px;
}
.clearfix{
  min-height: 1%;
}
ul#mainmenu > li ul {
	display: none;
	list-style: none;
	position: absolute;
	left: -4px;
	top: 24px;
	margin: -1px 0 0 0;
	z-index: 90;
	padding: 0;
}
