img, 
#google_search_submit,
.block h4 {
	behavior: url(/javascripts/iepngfix.htc);
}
.block h4 div {
	left: -13px !important;
}
div#content {
	min-height: 430px;
	height: auto !important;
	height: 430px;
}
.clearfix {
  height: 1%;
  overflow: visible;
}
div.content, div.block {
	border: 0;
}
.scroll-content div {
	position: static;
}
ul#mainmenu {
	float: right;
}