/**********************
**
** COMMAND C design
** info at commandc dot com
**
***********************/

/*****************
* General
******************/
img, input {
	vertical-align: middle;
}

/*****************
* SEO
******************/
#seo-heading1 {
	display: none;
}

/*****************
* Layout
******************/
div#container {
	padding: 0;
	text-align: left;
	width: 880px;
	margin: 25px auto 15px auto;
}
div#header {
	height: 90px;
	position: relative;
}
div#logo {
	position: absolute;
	top: 6px;
	left: 0;
}
div#search {
	position: absolute;
	top: 0;
	right: 0;
}
#font-size-switcher {
	float: none;
	position: absolute;
	top: 25px;
	right: 25px;
}
div#navigation {
	position: absolute;
	bottom: 0;
	right: 0;
}
div#content {
	border: 1px solid #aeaeae;
	padding: 40px 30px 25px 30px;
	width: 820px;
	min-height: 430px;
}

/*****************
* Typography
******************/
body {
	color: #666;
}

/*****************
* Search
******************/
div#search input#search {
	border: 1px solid #7f7f7f;
	padding: 1px;
}