/**********************
**
** COMMAND C design
** info at commandc dot com
**
***********************/

/******************
Main Colors:
*******************/

.blue {
	color: rgb(14,168,231);
}

/*****************
* General
******************/
img, input {
	vertical-align: middle;
}
#gray-line img {
	margin-top: 15px;
}

/*****************
* SEO
******************/
#seo-heading1 {
	display: none;
}
#seo-heading2 {
	display: none;
}
/*****************
* Layout
******************/
div#container {
	padding: 0;
	text-align: left;
	width: 880px;
	margin: 25px auto 15px auto;
}
div#header {
	height: 90px;
	position: relative;
}
div#logo {
	position: absolute;
	top: 6px;
	left: 0;
}
div#logo p {
	font-size: 0.9em;
	padding-left: 4px;
	margin: 4px 0 0 0;
}
div#search {
	position: absolute;
	top: 0;
	right: 0;
}
#font-size-switcher {
	float: none;
	position: absolute;
	top: 25px;
	right: 25px;
}
div#navigation {
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 6px;
}
div#content {
	border: 1px solid #aeaeae;
	padding: 40px 30px 25px 30px;
	/*width: 820px;*/
	min-height: 430px;
	position: relative;
}
div#sidebar-left,
div.sidebar-left {
	float: left;
	width: 240px;
	padding-top: 30px;
}
.has-sidebar-left #main {
	margin-left: 245px;
}
div#sidebar-right,
div.sidebar-right {
	float: right;
	width: 180px;
	padding: 30px 0 0 10px;
}
.has-sidebar-right {
	margin-right: 193px;
}
div#footer {
	text-align: center;
	font-size: 0.83em;
	color: #86898a;
	padding: 6px 0;
}
div#footer a {
	color: #86898a;
	text-decoration: none;
}
div.flash {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*****************
* Typography
******************/
body {
	color: #666;
	font-family: helvetica, arial, sans-serif;
	line-height: 133%;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
.heading {
	font-size: 36px;
	font-weight: normal;
	color: rgb(14,168,231);
}
.admin-mode .heading {
	margin-top: 10px;
}
.block h4 {
	color: rgb(14,168,231);
	font-size: 16px;
	font-weight: normal;
	padding-left: 13px;
	background: transparent url(/images/gray-right-arrow.png) no-repeat 0 2px;
}
div#search, #font-size-switcher {
	color: #999;
}

/*****************
* Hyperlinks
******************/
a:link {
	color: #999;
	text-decoration: none;
}
a:visited {
	color: #999;
	text-decoration: none;
}
a:hover {
	color: rgb(14,168,231);
	text-decoration: underline;
}
a:active {
	color: #999;
	text-decoration: none;
}
a.current:link {
	color: rgb(14,168,231);
	text-decoration: underline;
}
a.current:visited {
	color: rgb(14,168,231);
	text-decoration: underline;
}
a.current:hover {
	color: rgb(14,168,231);
	text-decoration: underline;
}
a.current:active {
	color: rgb(14,168,231);
	text-decoration: underline;
}

/*****************
* Main Menu
******************/
ul#mainmenu {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 23px;
}
ul#mainmenu > li {
	float: left;
	padding: 4px 8px;
	border-left: 2px solid rgb(14,168,231);
	position: relative;
}
ul#mainmenu > li.first {
	border-left: 0;
}
ul#mainmenu > li > a {
	display: block;
}
ul#mainmenu > li > a:link {
	font-size: 1.17em;
	color: #515151;
	text-decoration: none;
}
ul#mainmenu > li > a:visited {
	font-size: 1.17em;
	color: #515151;
	text-decoration: none;
}
ul#mainmenu > li > a:hover {
	font-size: 1.17em;
	color: rgb(14,168,231);
	text-decoration: none;
}
ul#mainmenu > li > a:active {
	font-size: 1.17em;
	color: #515151;
	text-decoration: none;
}
ul#mainmenu > li > a.current:link {
	font-weight: bold;
}
ul#mainmenu > li > a.current:visited {
	font-weight: bold;
}
ul#mainmenu > li > a.current:hover {
	font-weight: bold;
	color: #515151;
}
ul#mainmenu > li > a.current:active {
	font-weight: bold;
}

/** Dropdowns **/
ul#mainmenu > li ul {
	display: none;
	list-style: none;
	position: absolute;
	left: -4px;
	top: 28px;
	margin: -1px 0 0 0;
	z-index: 90;
	padding: 0;
}

ul#mainmenu > li ul a {
	display: block;
	width: 101px;
	padding: 4px 4px 4px 15px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	text-decoration: none;
	font-size: 0.93em;
	color: #515151;
	background-color: #c5eeff;
}

ul#mainmenu > li ul li a.first {
	border-top: 1px solid white;
}

ul#mainmenu > li ul .child-hover {
	color: rgb(14,168,231);
}

ul#mainmenu > li ul li ul {
	margin: -29px 0 0 122px;
	position: absolute;
}

/*****************
* Page Menu
******************/
ul#pagemenu {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul#pagemenu > li {
	margin-bottom: 5px;
}
ul#pagemenu > li > a {
	font-size: 1.5em;
	color: #666;
	text-decoration: none;
}
ul#pagemenu > li > a.current {
	font-size: 1.5em;
	color: rgb(14,168,231);
	text-decoration: none;
}
ul#pagemenu > li ul {
	list-style: none;
	margin-top: 5px;
	padding-left: ;
}
ul#pagemenu > li ul a {
	text-decoration: none;
	color: #666;
}
ul#pagemenu > li ul a:hover {
	color: rgb(14,168,231);
}
ul#pagemenu > li ul a.current {
	color: rgb(14,168,231);
}

/*****************
* Search
******************/
div#search input#search {
	border: 1px solid #7f7f7f;
	padding: 1px;
	margin-left: 3px;
}


/******************************
*******************************
*****  Page Specific Styles
*******************************
*******************************/

/*****************
* Home
******************/

.section_1 #content {
	padding: 40px 390px 25px 70px;
	background: transparent url(/images/home-background.jpg) no-repeat 100% 120px;
}
.section_1 h4 {
	background: transparent;
	padding: 0;
}
.section_1 .heading {
	font-size: 59px;
	margin-bottom: 40px;
}
.section_1 #learn_more {
	margin-top: 25px;
}

/*****************
* About Us
******************/

/* Our Firm */
.root_section_2 #content {
	padding: 40px 65px 25px 30px;
	background: transparent url(/images/about-firm-background.jpg) no-repeat 0 0;
}
.root_section_2 #main {
	padding-top: 15px;
}
.root_section_2 .highlights ul {
	padding: 0;
	list-style-position: inside;
}

/* Our Culture */
.page_3 #main,
.page_4 #main {
	padding-top: 0;
}
.root_section_2 #academic {
	width: 472px;
	margin: 0 auto;
}
.root_section_2 #academic {
	color: white;
}
.root_section_2 #academic p {
	margin: 0;
}
.root_section_2 #academic td {
	vertical-align: middle;
	width: 203px;
	height: 115px;
	padding: 15px 15px 5px 15px;
}
.root_section_2 #academic .view1 {
	font-size: 1.17em;
	text-align: center;
	text-transform: uppercase;
}
.root_section_2 #academic .view2 {
	background: #898989;
	text-align: left;
}
.root_section_2 #academic .dark-blue {
	background: rgb(74,190,237);
}
.root_section_2 #academic .light-blue {
	background: rgb(171,225,247);
}
.root_section_2 #academic .gray {
	background: #898989;
}
.root_section_2 .quote_credit {
	text-align: right;
}
.root_section_2 .quote_list {
	list-style-position: inside;
	padding: 0;
}

/*****************
* Services
******************/

/** Industry Focus **/
.section_10 #content {
	background: transparent url(/images/industry-focus-background.jpg) no-repeat 0 100%;
}

/** Capabilities **/

	/** Product Commercialization Strategy **/
	.page_9 #content {
		background: transparent url(/images/capabilities-prodcommstrat-background.jpg) no-repeat 0 100%;
	}
	/** Oncology and Specialty Therapeutics **/
	.page_10 #content {
		background: transparent url(/images/capabilities-oncspecther-background.jpg) no-repeat 0 100%;
	}
	/** US Managed Markets **/
	.page_11 #content {
		background: transparent url(/images/capabilities-usmngdmrkts-background.jpg) no-repeat 0 100%;
	}
	/** Global Market Access **/
	.page_12 #content {
		background: transparent url(/images/capabilities-glblmrktaccess-background.jpg) no-repeat 0 100%;
	}
	
/** Case Studies **/

	/** Product Commercialization Strategy **/
	.page_13 #content {
		background: transparent url(/images/casestudies-prodcommstrat-background.jpg) no-repeat 0 100%;
	}
	/** Oncology and Specialty Therapeutics **/
	.page_14 #content {
		background: transparent url(/images/casestudies-oncspecther-background.jpg) no-repeat 0 0;
	}
	/** US Managed Markets **/
	.page_15 #content {
		background: transparent url(/images/casestudies-usmngdmrkts-background.jpg) no-repeat 0 100%;
	}
	/** Global Market Access **/
	.page_16 #content {
		background: transparent url(/images/casestudies-glblmrktaccess-background.jpg) no-repeat 0 100%;
	}
	
/*****************
* News
******************/
ul.feed {
	padding-left: 10px;
	list-style-position: inside;
}
ul.feed li {
	margin-bottom: 20px;
}
ul.feed li a {
	text-decoration: underline;
}
#block_50 h4, #block_49 h4 {
	padding: 0;
	background: transparent;
	font-size: 30px;
	margin-bottom: 25px;
}
#block_50 ul.feed li,
#block_49 ul.feed li {
	margin-bottom: 5px;
}

/*****************
* Services
******************/

/** Alumni Profiles **/

.alumni-profile-quotation {
	font-style: italic;
	margin-bottom: 25px;
}
.alumni-profile-info {
	float: left;
	width: 190px;
}
.alumni-profile-info h4 {
	color: rgb(14,168,231);
	font-size: 1.33em;
	margin: 0;
	padding: 0;
	background: transparent;
}
.alumni-profile-info h5 {
	margin: 20px 0 0 0;
	font-size: 1em;
}
.alumni-profile-info h5.first {
	margin: 0;
}
.alumni-profile-info p {
	margin: 0;
}
.alumni-profile-questions {
	margin-left: 193px;
}

/** Online Application **/
#application-success {
	padding: 60px;
}
#application-success p {
	margin: 15px 0 30px 0;
}
#application-success img {
	cursor: pointer;
}
#online_application td.label {
	width: 135px;
	color: rgb(14,168,231);
	font-weight: bold;
	font-size: 1.33em;
	text-align: right;
	padding: 10px 5px;
}
#online_application td.field input {
	border: 1px solid #676770;
}
#online_application td.submit-container {
	text-align: right;
}
#online_application select {
	width: 220px;
}
.file_upload {
	position: relative;
}
input#job_application_resume,
input#job_application_letter {
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 2;
}
input.fake-upload-field {
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 1;
}
img.fake-browse-button {
	position: absolute;
	top: -10px;
	right: -88px;
	z-index: 1;
	cursor: pointer;
}
/*****************
* Contact
******************/
.contact-map {
	float: left;
}
.contact-info {
	margin-left: 330px;
	padding: 135px 0 0 25px;
}
.contact-heading {
	font-size: 20px;
	font-weight: normal;
	line-height: 133%;
	color: rgb(14,168,231);
	padding: 0;
	margin: 0;
}
	
/*****************
* Sitemap
******************/
.sitemap #content {
	background: transparent url(/images/sitemap-background.jpg) no-repeat 0 100%;
	padding-left: 255px;
}
.sitemap #sitemap-wrapper {
	height: 345px;
	position: relative;
}
.sitemap ul#sitemap {
	list-style: none;
	padding-left: 160px;
	margin-top: 45px;
}
.sitemap ul#sitemap ul {
	list-style: none;
}
.sitemap ul#sitemap a {
	font-weight: bold;
	color: rgb(14,168,231);
	text-decoration: underline;
}

