<div id="footer">
	<h1 id="seo-heading1"><%= (heading = yield(:seo_heading1)) ? heading : "SEO heading" %></h1>
	All contents  &copy;  copyright Insight Strategy Advisors. &bull;  All rights reserved. <br />
	website by <a href="http://commandc.com/" target="_blank">COMMAND C</a>
</div><!-- end 'footer' -->