<div id="footer">
	All contents  &copy;  copyright Insight Strategy Advisors. &bull;  All rights reserved. <br />
	website by <a href="http:/commandc.com/" target="_blank">COMMAND C</a>
</div><!-- end 'footer' -->